<div class="row post-card-row">
    <div class="col-12">
        <h5><a href="{{url}}">{{title}}</a></h5>
        <p>
            <small>
                {{date format="DD MMMM YYYY"}}, {{reading_time}}, {{tags prefix="tags: "}}
            </small>
        </p>
        <hr/>
        <p class="text-justify">{{excerpt}}</p>
    </div>
</div>